html {
    width: 100vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: start;
}

body {
    color: whitesmoke;
    border: 2px 2px 2px 2px black;
    min-height: 100vh;
    transition: all ease 1000s;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    /* background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(100,43,115,1) 0%, rgba(4,0,4,1) 90% ); */
    background-image: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: 100vh;
    overflow: scroll;

    max-width: 450px;
    border: 2px 2px 2px 2px red solid;
}





a {
    text-decoration: none;
}

a:visited {
    color: inherit;
}

a:hover {
    filter: brightness(90%);
}

::-webkit-scrollbar {
    width: 0px;
}




button {
    font-size: 18px;
    padding: 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    color: white;
    background-color: #007bff;
    transition: background-color 0.3s ease, transform 0.2s ease;
}


button:hover {
    filter: brightness(117%)
}